<section class="phx-hero">
  <h1>Log Everything</h1>
  <p>Peace of mind from prototype to production</p>
</section>

<%= form_for @user_changeset, Routes.registration_path(@conn, :create), fn f -> %>
  <%= label f, :email %>
  <%= text_input f, :email %>
  <%= error_tag f, :email %>

  <%= submit "Get Started" %>
<% end %>
