<section class="phx-hero">
  <h1>Log Everything</h1>
  <p>Peace of mind from prototype to production</p>
</section>

<%= form_for @conn, Routes.registration_path(@conn, :create), [as: :user], fn f -> %>
  <%= label f, :email %>
  <%= text_input f, :email %>

  <%= hidden_input f, :api_key %>

  <%= submit "Get Started" %>
<% end %>
